/* police ajouté au site */
@font-face {
  font-family: "raleway";
  src: url(raleway/Raleway-Regular.ttf);
}


body {
    font-family: "raleway", Arial, verdana, sans-serif;
    margin: 0 auto;   
}

/* police de la page */
#bloc_page {
  font-family: "raleway";
}

/* evite que les marge et padding prenne plus de place */
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ligne en dessous du lien enlevé */
a {
  text-decoration: none;
}

/* MENU */

/* mise en place du menu en haut a droite */

#logo_principal {
  position: absolute;
  height: 50px;
  margin: 25px 20px;
}

nav,
#menu_marge {
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: 0px;
}

#menu_marge li {
  padding: 40px 24px 10px 24px;
  list-style-type: none;
  font-size: 14px;
  color: black;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}

a:visited {
  color: inherit;
}

#menu_marge li:hover {
  border-top: 2px #0065fc solid;
  color: #0065fc;
}

.inscrire:hover {
  border-top: 2px #0065fc solid;
  color: #0065fc;
}

nav .inscrire {
  color: #0065fc;
  font-size: 18px;
  font-family: "ralewaybold";
  padding: 40px 24px 10px 24px;
}

/* TITRE */

/* titre h1 de la page */
#titreh1 {
  font-family: "ralewaybold";
  font-size: 1.3em;
  font-weight: bold;
  color: black;
  margin: 20px;
}
/* titre 2 du header */
#presentation {
  font-size: 1em;
  margin: 20px;
}

/* BARRE DE RECHERCHE */

/* la barre de recherche */
#recherche {
  display: flex;
  justify-content: left;
  margin: 20px;
}
/* le logo de map */
#logodestination {
  border-radius: 10px 0 0 10px;
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px;
  width: 27px;
}
/* la barre de recherche client */
#destination {
  padding: 13px;
  border: 0.5px solid #f2f2f2;
  color: black;
  font-weight: bold;
}
/* partie extérieur du bouton de recherche */
.bouton {
  border-radius: 0 10px 10px 0;
  padding: 10px;
  background-color: #0065fc;
}
/* le bouton cliquable de recherche (partie intérieur) */
.bou {
  color: white;
  background-color: #0065fc;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

/* mise en place du logo loupe */
.fa-search {
  color: white;
  align-items: center;
}

/* masquer le logo loupe sur ordinateur */
form button i,
form button i::before,
form button i::after {
  display: none;
}

/* FILTRES */

/* placement de la barre de filtre */
.texte_centre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* alignement de la barre de filtre */
.filtre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  min-height: 10vh;
  margin-top: 50px;
  margin-bottom: 40px;
}

/* placement du titre filtre */
.filtreh2 {
  margin-right: 20px;
  font-family: "ralewaybold";
  font-size: 1em;
  margin: 20px;
}

/* placement de bordure des différents filtres */
.filtre .filtre_texte {
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* passage au survole de la souris */
.filtre_texte:hover > .couleur_texte {
  color: #0065fc;
}

.filtre_texte:hover > .logo_icon {
  color: white;
  background-color: #0065fc;
}

/* placement du texte centrage */
.couleur_texte {
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 0 25px 25px 0;
  color: black;
  font-family: "ralewaybold";
}

/* placement des icone et centrage */
.logo_icon {
  margin-left: -2px;
  border-radius: 25px;
  width: 52px;
  height: 36px;
  color: #0065fc;
  background-color: #deebff;
  text-align: center;
  padding-top: 17px;
}

/* INFO */

/* alignement et marge extérieur */
.info {
  display: flex;
  align-items: center;
  margin-top: -20px;
  margin-bottom: 20px;
}

/* bordure du logo et marge extérieur et interieur du logo */
.info_logo {
  color: #0065fc;
  width: 13px;
  height: 17px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 5px;
  margin: 20px;
  padding-left: 8px;
  padding-top: 4px;
}

/*couleur titre */
.titreinfo {
  font-size: 1em;
}

/*  SECTION HEBERGEMENT */


/* BLOC ACTIVITÉ */
#accommodation {
    display: flex;
}
/* Main accommodation result */
#accommodation_main {       
    width: 75%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 15px 0px 0 0px;
}
 /*Title: Hébergement à Marseille*/
#accommodation_main h2 {       
    padding: 20px 0 0 25px; 
}
/* 1 row of 3 results*/
.frame_row {    
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-right: 15px;
}
.link {
    width: 100%;
    margin: 10px;
}
/* block 1 result: pic + description */
.result {         
    width: 95%;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 20px #c4c7cc; 
    margin: 10px;
    padding: 5px 5px 0 5px;
    }

.result:hover {
    box-shadow:1px 1px 5px #c4c7cc;
}    
 /* picture */
.accommodation_pic {   
    width: 100%;
    height: 115px;
    border-radius: 15px 15px 0 0;
    align-content: center;
    object-fit: cover;
}
/* description*/
.result h3 {              
   margin-left: 15px;
   line-height: 0;
}
.result p {
    font-size: 13px;
    padding-left: 15px;
    line-height: 0;
}
 /*star classification */
.stars {                   
    height: 12px;
    font-size: 12px;;
    display: flex;
    align-items: flex-end;
    padding-left: 15px;
}
/* main accommodation footer*/
#afficher_plus {    
    font-size: 16px;
    padding-left: 25px;
}
/* Side section Favourite accommodation */
#accommodation_side, #side_frame, .favourite {
    box-sizing: border-box;
}

#accommodation_side {      
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 15px 20px 0 20px;
    margin-left: 30px;
}
 /*side title + stat icon*/
#side_title {          
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px 15px 0 10px;
}
/*Frame 1 column 3 results*/
#side_frame {       
    height: 520px;
    align-items: center;  
    margin: 30px 0;
}
#side_frame a {
    width: 100%;
}
/* block 1 result: picture + description */ 
.favourite {        
    height: 144px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 20px #c4c7cc; 
    padding: 5px 24px 5px 5px;
    margin-bottom: 20px;
}

.favourite:hover {
    box-shadow:1px 1px 5px #c4c7cc;
}
/*accommodation picture*/
.fav_pic {            
    width: 50%;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}
/*accommodation description*/
.fav_name {             
    width: 50%;
    padding: 5px 0 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.fav_name h3, .favourite p {
    margin: 0;
}
/* --star classification */
.fav_stars {       
    font-size: 12px;
    display: flex;
}
/* titre activité */

#activities { 
    height: 534px;
    margin-top: 30px;   
}   
/*Frame 4 columns*/
.activities_frame {             
    padding-left: 10px; 
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
/*activities title*/
#activities h2 {          
    padding: 0 0 20px 25px;   
}
  /*4 Frames*/
.frame1, .dblFrame {                   
    height: 447px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}

.activity_link {
    width: 95%;
}
 /*Frame 1 and 3: single activity */
.frame1 {                  
    border-radius: 20px;
    box-shadow: 2px 2px 20px #c4c7cc; 
}
.frame1:hover {
    box-shadow:1px 1px 5px #c4c7cc;
}
/*Frame 2 and 4: double activity */
.dblFrame div {             
    width: 302px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 2px 2px 20px #c4c7cc;  
}

.dblFrame div:hover {
    box-shadow:1px 1px 5px #c4c7cc;
}
/* --Frame 2 top block */

.dblFrame_block1 {          
    width:90%; 
}
.dblFrame_block2 {          
    height: 175px;
}
.dblFrame_block4 {           
    height: 195px;
}
.dblFrame_block5 {           
    height: 210px;
}
/*activities pictures*/
.activities_frame img {     
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.activities_pic1 {                          
    height: 389px;  
}
.activities_pic2 {
    height: 174px;
}
.activities_pic3 {
    height: 118px;
}
.activities_pic4 {
    height: 138px;
}
.activities_pic5 {
    height: 154px;
}
.activities_frame h3 {
    padding-left: 15px;
}

/* FOOTER */

/* le fond du footeur avec les propriétés associés */
#footer {
  margin-top: 100px;
  height: 300px;
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* enlever les puces et marge */
.puce {
  list-style-type: none;
  padding: 2px 0;
}

/* la partie a propos */
#a_propos {
  margin-left: 2%;
  height: 150px;
}

/* la partie hébergement */
#nos_hebergements {
  height: 150px;
  margin-right: 8%;
}

/* la partie assistance */
#assistance {
  height: 150px;
  margin-right: 18%;
}

.couleur_footer {
  color: black;
}

/* les titres en gras */
.titre_footer {
  font-family: "ralewaybold";
}

/* la marge en les différents liens */
.marge_li_footer {
  margin-top: 10px;
}

/* MEDIA QUERIES (TOUJOURS METTRE A LA FIN DU CSS) */

/* MOBILE */
@media screen and (max-width: 767px) {
  /* MENU  */

  #logo_principal {
    height: 37px;
    margin-left: 10px;
  }

  /* positionnement du menu en mobile*/

  nav {
    width: 100%;
    flex-direction: column-reverse;
  }

  .inscrire {
    align-self: flex-end;
    margin-top: -5px;
  }

  #menu_marge {
    width: 100%;
    padding: 0;
  }

  #menu_marge li {
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px #f2f2f2 solid;
  }

  #menu_marge li:hover {
    border-top: none;
    border-bottom: 2px #0065fc solid;
  }

  #menu_marge li:active {
    border-bottom: 2px #0065fc solid;
  }

  /* LE PREMIER TITRE RECHERCHE */

  #titreh1 {
    font-size: 1.3rem;
  }

  /* BARRE DE RECHERCHE */

  /* mise en place du logo loupe mobile */
  form button i,
  form button i::before,
  form button i::after {
    display: block;
    color: white;
  }

  /* masquer le mot rechercher */
  form button span {
    display: none;
  }
  /* bordure et marge du bouton */
  .bouton {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 30px;
  }

  #destination {
    width: 125%;
  }

  /*  LES FILTRES */
  .filtre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: max-content;
    width: 100%;
    margin-top: 20px;
    margin-left: -25px;
  }

  /* décalage du filtre famille */
  .famille_right {
    align-self: flex-end;
  }

  .eco_moove {
    margin-bottom: -69px;
  }

  /* marge entre les bordures et le texte */
  .couleur_texte {
    padding-right: 10px;
    padding-left: 10px;
    font-size: small;
  }
  /* marge entre les différents filtres */
  .filtre_texte {
    margin-top: 15px;
    margin-left: 40px;
  }

  /* le titre filtre */
  .filtreh2 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
    font-size: medium;
  }

  /* INFO */

  /* marge entre info et bloc populaire */
  .info {
    margin-bottom: 10px;
  }

  .titreinfo {
    font-size: 80%;
  }
  /* POPULAIRE */
    #accommodation {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 20px;
    }
    #accommodation_side {
        width: 100%;
        justify-content: space-between;
        margin-left: 0;
        border-radius: 0;
    }
    #side_frame {
        height: auto;
    }
    #side_frame a {
        width: 100%;
    }
    .favourite {
        width: 100%;
        height: 200px;
        padding: 10px 24px 10px 10px;
    }
    .favourite:active {
        box-shadow:1px 1px 5px #c4c7cc;
    }
    /*font larger*/
    .favourite h3 {
        font-size: 20px;
    }
    .fav_name p {
        font-size: 16px;
    }

    /*Main accommodation modifications*/
    #accommodation_main {
        width: 100%;
        background-color: white;
        padding: 15px 15px 0 15px;
        box-sizing: border-box;
    }
    /*display results in 1 column*/
    .frame_row {
        display: inline;
    }
    /*block 1 result: pic + description */
    .result {   
        width: 95%;      
        height: 280px;
        background-color: white;
        padding: 0;
    }
    /*font larger*/
    .result h3 {
        font-size: 20px;
    }
    .result p {
        font-size: 16px;
    }
    /*accommodation picture*/
    .accommodation_pic {
        height: 175px;
    }
    /*accommodation footer larger*/
    #afficher_plus {
        font-size: 18px;
    }

    /*Activities section modification*/
    #activities {
        height: auto;
        padding-left: 0;
        margin: 0 20px;
    }

    .activities_frame {
        width: 100%;
        display: inline;
        padding-left: 0;
    }
    /*font larger*/
    .activities_frame h3 {
        font-size: 18px;
    }
    
    .frame1 {
        width: auto;
        height: 240px;
        margin: 10px 0 5px 10px;
    }
    .frame1:active {
        box-shadow:1px 1px 5px #c4c7cc;
    }
    .dblFrame {
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }
    .dblFrame div{
        width: auto;
        margin: 10px 0 0 10px;
    }
    .dblFrame div:active {
        box-shadow: 1px 1px 5px #c4c7cc;
    }


  /* ACTIVITÉ */
  #activities {
        height: auto;
        padding-left: 0;
        margin: 0 20px;
    }

    .activities_frame {
        width: 100%;
        display: inline;
        padding-left: 0;
    }
    /*font larger*/
    .activities_frame h3 {
        font-size: 18px;
    }
    
    .frame1 {
        width: auto;
        height: 240px;
        margin: 10px 0 5px 10px;
    }
    .frame1:active {
        box-shadow:1px 1px 5px #c4c7cc;
    }
    .dblFrame {
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }
    .dblFrame div{
        width: auto;
        margin: 10px 0 0 10px;
    }
    .dblFrame div:active {
        box-shadow: 1px 1px 5px #c4c7cc;
    }

    /*activities block resized*/
    .dblFrame_block1, .dblFrame_block2, 
    .dblFrame_block4, .dblFrame_block5  {
        height: 240px;
        margin: 10px;
    }
    
    #activities img{
        height: 180px;
        width: 100%;
    }
  /* FOOTER */

  /* positionnement du footer en colonne */
  #footer {
    flex-direction: column;
    margin-top: 930px;
    height: 500px;
    margin-bottom: auto;
    align-items: flex-start;
    font-size: 90%;
  }

  /* les marges extérieurs et intérieur */
  #a_propos {
    margin-left: 20px;
  }

  #nos_hebergements {
    margin-left: 20px;
    padding-top: 25px;
  }

  #assistance {
    margin-left: 20px;
  }

  .couleur_footer {
    font-size: 13px;
  }
}

/* tablette ----------- */
@media only screen and (min-width: 767px) and (max-width: 1200px) {
  /* Styles */

  /* BARRE DE RECHERCHE */

  /* LES FILTRES */

  .filtre {
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    margin-left: 0px;
  }

  .filtreh2 {
    position: absolute;
    left: inherit;
    margin-right: 700px;
  }

  .filtre_texte {
    margin-left: -10px;
    margin-top: 50px;
  }

  .famille_right {
    align-self: flex-start;
  }

  /* inversion du bloc pop et hebergements */
 
  /* BLOC HEBERGEMENT */

      #accommodation {
            flex-direction: column-reverse;
            align-items: center;
            margin-top: 20px;
        }
        
        #accommodation_side {
            width: 100%;
            justify-content: space-between;
            margin-left: 0;
        }
        /*display frame in 1 row*/
        #side_frame {       
            height: auto;
            display: flex; 
            justify-content: space-around;
        }

        .favourite:active {
            box-shadow:1px 1px 5px #c4c7cc;
        }
        /*keep a fixed margin around the frame*/
        .favourite {
            width: 95%;
        }
        
        /*main accommodation modifications*/
        #accommodation_main {
            width: 100%;
            background-color: white;
        }
    
        .result:active{
            box-shadow:1px 1px 5px #c4c7cc;
        }  

  /* BLOC ACTIVITÉ */
/*activities section*/ 
        .activities_frame {
            flex-wrap: wrap;
            justify-content: center;
        }
        /*keep fixed margin around*/
        .activity_link {
            width: 33%;
        }
        .activity_link1 {
            width: 60%;
        }
        /*frames resized to fit in 2 rows of 3 activities*/
        .frame1 {
            height: 200px;
            margin: 10px 0 20px 10px;
        }
        .frame1:active {
            box-shadow:1px 1px 5px #c4c7cc;
        }
        .dblFrame {
            height: auto;
            width: 65%;
            margin-bottom: 20px;
            flex-direction: row;
        }
        .dblFrame div{
            width: auto;
            margin: 10px 0 0 10px;
        }
        .dblFrame div:active {
            box-shadow: 1px 1px 5px #c4c7cc;
        }
        .dblFrame_block1, .dblFrame_block2, 
        .dblFrame_block4, .dblFrame_block5  {
            height: 200px;
            margin: 10px;
        }
        
        #activities img{
            height: 144px;
        }


  /* FOOTER */

  /* repositionnement du footer */
  #footer {
    margin-top: 0px;
    flex-direction: row;
    height: 200px;
    font-size: 90%;
  }

  /* modif marge */
  #nos_hebergements {
    padding-top: 0%;
    margin-right: 0px;
  }

  /* modif marge */
  #assistance {
    margin-right: 100px;
  }

  .couleur_footer {
    font-size: 13px;
  }
}
